* {
    margin: 0;
    padding: 0;
}

body {
    background: #f1f1f1;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
}

table {
    margin: 1px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border: 2px solid;

}

td {
    text-align: center;
    color: #fff1;
    border: 2px solid #191919;
}

input[type="button"] {
    width: 90px;
    height: 80px;
    color: #fff;
    background-color: black;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input[type="button"]:hover {
    background-color: #19d;
    outline: none;
    color: black;
}

input[type="text"] {
    width: 340px;
    height: 80px;
    text-align: right;
    margin: 10px;
    padding: 2px;
    outline: none;
    border: none;
    font-size: 30px;
}

#cas {
    background-color: red;
}

#cas:hover {
    transition: 0.2s ease-in-out;
    background-color: rgb(173, 54, 54);
}

.up {
    background: #191919;
    width: 150px;
    height: 30px;
    margin-left: 120px;
    margin-top: 5px;
}

.cover {
    border: 1px;
    border-color: #191919;
    width: 300px;
    height: 300px;
    background-color: green;
}

h1 {
    margin-left: 130px;
    color: green;
}

body {
    margin-left: 30%;
    margin-right: 50%;
    margin-top: 10%;
    margin-bottom: 50%;
}

table {
    border-radius: 10px;
}

#MyResult {
    background: #19d;

}